* {
	box-sizing: border-box;
}
html {
	width: 100%;
}
body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	background-color: rgba();
	background: url(../images/bg.jpg) no-repeat center 5px;
	background-color: #55555a;
	background-size: 100%;
	width: 100%;
}

.wrapper {
	width: 100%;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
} 
.clearfix:after {
	clear: both;
}

button {
    outline: none;
    border: none;
    color: white;
    padding: 10px 20px;    
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);    
}

.wrapper {
	margin: 0 auto;
}

/***********HEADER***********/
header {
	background-color: white;	
}


/******Header top******/
.header__wrapper-top {
	background-color: #0066a1;
	width: 100%;
	vertical-align: middle;
}
.header__header-top {
	max-width: 1280px;
	min-width: 320px;
	line-height: 15px;
	margin: 0 auto;
	padding: 10px 0 17px;
	color: white;
	font-size: 13.95px;
	text-align: center;
	font-family: "Museo Sans Cyrl 900", sans-serif;
}
.header__header-top p {
	margin: 0;
}

.icon {
	display: inline-block;
	padding: 9px;
	color: rgb(26, 37, 48);
}
.icon-cross {
	padding: 0px;
	margin: 0 0 0 5px;
	color: white;
	position: relative;
	top: 5px;
}


/******Header bottom******/
.header__container {
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
	vertical-align: middle;
}

.logo {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	padding: 0;
	background: url(../images/logo.png) no-repeat 0 0;
	width: 86px;
	height: 86px;
	position: absolute;
}


/******Menu*******/	
.menu__wrapper {
	float: left;
	width: 1280px;
	text-align: left;
	padding: 33px 10px 20px 120px;
}
.menu__wrapper.fixed {
	position: fixed;
	top: 0;
	margin-top: 0;
}

/*Menu button*/
.menu-button {
	display: none;
	background-color: none;
	position: absolute;
	margin-top: 5px;
	padding: 0;
	left: 10px;
	color: black;
}
.menu-button:hover {
	cursor: pointer;
}
.menu-button i:hover .menu__main-menu {
	display: inline;
	position: absolute;
}
.fa-bars {	
	color: #0066a1;
}

/*Mobile Menu*/
.mobile_menu {
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	text-align: left;
	font-weight: normal;
	width: 240px;
	z-index: 10;
}
.mobile_menu ul {
	list-style-type: none;
	padding: 0;
}
.mobile_menu a {
	color: #b63b4d;
	text-decoration: none;
}

#accordeon {
	width: 100%;
	max-width: 360px;
	background: #FFF;
	border-radius: 4px;
	list-style-type: none;
	margin: 41px 0 0;
}
#accordeon .link {
	cursor: pointer;
	display: block;
	padding: 15px 20px 15px 15px;
	background-color: #0066a1;
	color: white;
	font-size: 15px;
	box-shadow: 0px -1px 0px 0px rgba(186,126,52,1);
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#accordeon .link:hover {	
	padding-right: 30px;
	z-index: 100;
	box-shadow: 1px 2px 18px 0px rgba(0,0,0,1);
	background-color: #687787;
}
#accordeon li:last-child .link {
	border-bottom: 0;
}


.menu__container  {
	display: inline-block;
	text-align: left;
	float: left;
}
.menu__container ul, .languages__container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu__container a, .languages__container a {
	text-decoration: none;
	display: inline-block;
	line-height: 1;
	color: #149ed8;
	cursor: pointer;
}
.menu__container li {
	padding: 0 33px 0 0;
}
.menu__container > li:last-child {
	padding-right: 0;
}

.menu__container a:after {
	display: block;
	content: "";
	height: 2px;
	width: 0;
	background-color: #149ed8;
	transition: width .3s ease-in-out;
}
.menu__container a:hover:after, .menu__container a:focus:after {
	width: 100%;
}

.menu > li, .languages > li {
	position: relative;
	float: left;
	margin-bottom: 10px;
}
.menu > li > a, .languages > li > a {
	font-size: 13px;
	color: #292929;
	font-family: "Museo Sans Cyrl 700", sans-serif;
}
.menu > li > a:hover {
	color: #149ed8;
}
.menu a.active {
	color: #149ed8;
}


/*Search Form*/
.search-form__wrapper, .languages__wrapper {
	float: right;
	vertical-align: top;
	width: auto;	
}
.search-form__wrapper {
	margin-left: 50px;
	position: relative;
	top: -5px;
}

.search-form {
	width: 100%;
	position: relative;
}
.search-form input {
	padding: 9px;
	width: 200px;
	outline: none;
	display: none;
	border: 1px solid black;
	background-color: white;
	position: absolute;
	margin-left: -167px;
	top: -1px;
	z-index: 1;
}
.search-form__wrapper:hover .search-form input {
	display: inline-block;
}

.icon-search {
	padding: 0px;
}

/*Languages*/
.languages__wrapper {
	width: auto;
	margin: 0;
	float: left;
}
.languages > li > a {
	padding: 0 11px;
}
.languages > li > a:hover {
	color: #149ed8;
}
.languages > li:first-child {
	border-right: 1px solid gray;
}
.languages > li:first-child {
	border-right: 1px solid gray;
}
.languages a.active {
	color: #149ed8;
}



/***********CONTENT************/
.content__wrapper {
	max-width: 1280px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
}
.content__container {
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
}
.content_tagline {
	margin: 0 auto;
	font-family: "Noto Serif", sans-serif;
	font-style: italic;
	color: white;
	font-size: 22px;
	text-align: center;
	padding: 25px 0 60px;
}

/*Slider*/
.owl-carousel {
	margin: 0 auto;
	position: relative;
	width: 666px;
	background-color: #f9f9f9;
	border-radius: 5px;
	box-shadow: black;
}
.owl-carousel:hover {
	cursor: move;
}

.caption {
	font-size: 12.95px;
	color: #fab330;
	padding: 40px 10px 0px;
	letter-spacing: 4px;
	margin: 0;
	font-family: "Museo Sans Cyrl 900", sans-serif;
	text-align: center;
}
.caption_main {
	font-family: "Noto Serif";
	font-style: italic;
	font-size: 34px;
	text-align: center;
	padding: 25px;
	margin: 0;
}
.button_slider {
	background-color: #fab330;
	padding: 18px 28px;
	margin: 0 auto 40px;
	font-size: 12px;
	letter-spacing: 4px;
	font-family: "Museo Sans Cyrl 900", sans-serif;
	display: block;
}
.owl-dots {
	position: absolute;
	bottom: -60px;
	width: 100%;
}
.owl-dot > span {
	border: 2px solid white;
	padding: 4px;
	background: none;
}





/*MEDIA*/
@media (max-width: 1280px) {
	.menu__wrapper, .header__header-top > p, .content__container {
		width: 1023px;
	}
	.content__container {
		margin: 0;
	}
	.languages__wrapper, .search-form__wrapper {
		float: left;
	}
	.menu__container {
		float: left;
	}
	.search-form__wrapper {
		margin-left: 0px;
	}
	.languages > li:first-child > a:first-child {
		padding-left: 0px;
	}
}
@media (max-width: 1023px) {
	.menu__wrapper, .header__header-top > p, .content__container {
		width: 767px;
	}
	.content__container {
		margin: 0;
	}
	.languages__wrapper, .search-form__wrapper {
		float: right;
	}
	.menu__container {
		float: left;
	}
}
@media (max-width: 767px) {
	.menu__wrapper, .header__header-top > p, .content__container {
		width: 100%;
	}
	.menu {
		display: none;
	}
	.menu-button {
		display: inline-block;
		padding-left: 120px;
		margin-top: -5px;
	}
	.menu__wrapper {
		width: 100%;
	}
	.owl-carousel {
		width: 300px;
	}
	.caption_main {
		font-size: 25px;
	}
	.search-form__wrapper {
		margin-left: 10px;
	}
	.content_tagline {
		padding-bottom: 30px;
	}
	.owl-dots {
		bottom: -30px;
	}
}




