body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: #404040;
    line-height: 1.5em;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    /*padding: 0;*/
}

button {
    outline: none;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
}
.sticky {
    position: sticky;
    top: 0;
}
.container-flex {
    display: flex;
}
/***********GLOBAL SETTINGS***********/

.global-settings {
    /*position: relative;*/
    width: 50px;
    /*height: 900px;*/
    background: #3D4852;

}

.global-settings_bg {
    /*position: absolute;*/
    left: 0%;
    right: 0%;
    top: 6.56%;
    bottom: 0%;

    background: rgba(255, 255, 255, 0.1);
}

/***********SIDEBAR***********/

.sidebar {
    /*position: relative;*/
    min-width: 230px;
    /*height: 2614px;*/
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.title {
    width: 100%;
    height: 60px;
    top: 0px;
    font-weight: bold;
    line-height: 24px;
    font-size: 30px;
    text-align: center;
    color: #2EADC2;
    /*align-self: center;*/
    border: 1px solid red;
}


/***********CONTAINER_MAIN***********/

.container_main {
    background: #E5E5E5;
    flex-direction: column;
}

.toolbar {
    /*position: relative;*/
    /*width: 100%;*/
    height: 60px;
    background: #FFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px;
    display: flex;
    flex-wrap: wrap;
}

/******Search Form******/
.search-form__wrapper {
    max-width: 350px;
    /*min-width: 100px;*/
    /*margin-top: 25px;*/
}

.search-form {
    width: 100%;
}
.search-form_group {
    vertical-align: middle;
}
.search-form input {
    padding: 9px 9px 9px 40px;
    width: 100%;
    border: 1px solid #EBEBEB;
    outline: none;
}
.icon-search {
    display: inline-block;
    position: absolute;
    padding: 9px;
    color: rgb(26, 37, 48);
}


.toolbar_buttons {
    display: flex;
}
.toolbar_buttons form {
    display: inline-block;
}
.toolbar_buttons button {
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    text-align: center;
    color: #2EADC2;
    border-radius: 18px;
    border: 1px solid white;
}
.toolbar_buttons button:hover {
    text-decoration: underline;
}

.toolbar_buttons button:active, .toolbar_buttons button:focus {
    border: 1px solid #EBEBEB;
}

.toolbar_bg {
    /*position: absolute;
    left: 3.25%;
    right: -113.75%;
    top: -1.59%;
    bottom: 97.61%;*/
    background: #F7F7F7;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}
.content {
    padding: 15px 30px;
}
.anchor-box {
    float: right;
    width: 222px;
    background-color: #FFFFFF;
    color: #404040;
    margin: 0 -10px 60px 60px;
}
.anchor-box button {
    line-height: 24px;
    font-size: 14px;
    color: #404040;
    padding: 5px 15px;
    width: 100%;
    border-radius: 0;
    text-align: left;
}
.anchor-box button:hover {
    text-decoration: underline;
}

.anchor-box button:active, .anchor-box button:focus {
    background-color: #E5E5E5;
}

h4 {
    /*position: absolute;*/
    /*width: 467px;*/
    /*height: 28px;*/
    /*left: 60px;*/
    /*top: 35px;*/

    /*font-family: Roboto;*/
    /*font-style: normal;*/
    font-weight: 500;
    line-height: 28px;
    font-size: 24px;
    color: #111111;
    display: block;
}
h5 {
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    color: #000;
    display: block;
}


/***********SIDEBAR_RIGHT***********/

.sidebar_right {
    /*position: absolute;*/
    min-width: 251px;
    height: 917px;
    /*height: 100%;*/
    background: #F7F7F7;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}

/*div, span, button, a, form, p {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
	margin: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
    padding: 0;
}

.row {
	margin: 0;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

p {
	margin: 0;
}

h1 {
	font-weight: 900;
	font-size: 60px;
	text-align: center;
	margin-bottom: 28px;
	text-shadow: 0 0 5px #8aa77b;
}

.btn {
    border: 2px solid #a1ad97;
    padding: 17px 45px;
    border-radius: 5px;
	color: white;
    font-size: 19px;
    text-align: center;
	outline: none;
	text-transform: uppercase;
	font-family: font76638, sans-serif;
}
button:focus {
	outline: none;
}


/***********HEADER***********/

/*.section-top {
	background: url(../images/background_top.jpg) no-repeat center center;
	background-size: cover;
	min-height: 630px;
	border-bottom: 4px solid #e46107;
	padding: 0;
	align-items: center;
	justify-content: center;
}
.section-top .row:first-child {
	justify-content: center;
	position: relative;
}
.section-top .row:first-child .col {
	padding: 0;
	align-content: center;
	text-align: center;
}

.logo-bg {
	background: url(../images/logo_background.jpg) no-repeat center 0;
	min-height: 174px;
	background-size: contain;
	align-content: center;
	position: relative;
}
.logo {
	background: url(../images/logo.png) no-repeat center center;
	min-height: 116px;
	padding-top: 27px;
	position: relative;
	top: 28px;
}
.logo-line {
	background: url(../images/logo_line-bottom.jpg) no-repeat center 0;
	min-height: 40px;
	position: relative;
	top: -8px;
	z-index: 1;
}
.section-top .row:nth-child(2) {
	background: url(../images/logo-shadow.png) no-repeat center 0;
	min-height: 350px;
	position: relative;
	top: -45px;
}
.section-top .row:nth-child(2) .col-sm {
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	font-family: font76638, sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
	justify-content: center;
	color: white;
	padding: 0;
	top: 41px;
	margin-bottom: 147px;
    position: relative;
}
.navbar-collapse {
    position: absolute;
    z-index: 1;
    margin-top: 130px;
}

.navbar .navbar-nav {
	padding-left: 0;
    padding-top: 40px;
	justify-content: center;
    align-items: stretch;
    background-color: white;
    border-radius: 5px;
}
.navbar .nav-item {
	margin-left: 0;
    padding: 5px 20px 10px;
}

.navbar .nav-link {
	color: black !important;
	padding: 8px 19px;
    border-radius: 0;
}
.navbar .nav-link:active,
.navbar .nav-link:hover {
	background-color: #e46107;
	color: white;
}
.navbar button {
	border: none !important;
    z-index: 2;
}

.section-top__greeting {
	background-color: rgba(59, 82, 34, 0.7);
	border-radius: 5px;
	padding: 23px 44px 35px;
	text-align: center;
    margin-bottom: 191px;
}
.section-top__greeting__text {
	font-family: Arial, sans-serif;
	font-size: 14px;
}
.section-top h3 {
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 34px;
}


/***SECTION-MIDDLE***/

/*.section-middle {
	background-color: #26311c;
	min-height: 563px;
}
.section-middle .container {
	position: relative;
	top: -115px;
}
.section-middle .row {
	justify-content: space-evenly;
}
.card {
	background-color: transparent;
	flex-direction: column;
	align-items: center;
	margin-bottom: 29px;
	border: none;
}
.card .btn:active, .card .btn:hover {
	border: 2px solid #8dc705 !important;
	color: #8dc705 !important;
	background-color: #26311c !important;
	box-shadow: none;
	outline: none;
}
.card .btn:focus {
	box-shadow: none !important;
}
.card__picture {
	height: 221px;
	width: 221px;
	border-radius: 150px;
	border: 2px solid white;
}
.card__picture-1 {
	background: url(../images/content_1.jpg) no-repeat center -50px;
}
.card__picture-2 {
	background: url(../images/content_2.jpg) no-repeat -82px 0;
}
.card__picture-3 {
	background: url(../images/content_3.jpg) no-repeat center -10px;
}
.card__picture-4 {
	background: url(../images/content_4.jpg) no-repeat -10px -15px;
}
.card__picture-5 {
	background: url(../images/content_5.jpg) no-repeat center -28px;
}
.card__title {
	font-weight: 300;
	font-size: 34px;
	margin: 34px 0 23px;
}


/***SECTION-BUTTOM***/

/*.section-buttom {
	background-color: #c2caa7;
	background: url(../images/background_bottom.jpg) no-repeat 0 center;
	background-size: cover;
	min-height: 580px;
	border-bottom: 2px solid #7da83c;
	margin-top: -115px;
}
.section-buttom .container {
    padding-top: 82px;
    padding-bottom: 95px;
	color: #000;
}
.section-buttom .row {
	max-width: 440px;
}
.section-buttom .col-sm {
	padding: 0;
}
.section-buttom h2 {
	padding-bottom: 32px;
	font-size: 54px;
	color: #48890a;
	font-weight: 500;
}

.section-buttom h3 {
	font-size: 34px;
	font-weight: 300;
}
.section-buttom .btn {
	 margin-top: 23px;
	 color: #48890a;
	 border-color: #48890a;
}
.section-buttom .btn:hover {
	background-color: #48890a;
	color: #fff;
}
.section-buttom .btn:focus {
	box-shadow: none !important;
}
.nav-buttom {
	font-family: font76638, sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
}
.nav-buttom .container {
	padding-top: 14px;
	padding-bottom: 14px;
}
.nav-buttom a {
	color: #7b7b7b !important;
	padding: 10px 18px !important;
}
.nav-buttom .active, .nav-buttom a:hover {
	color: #8dc705 !important;
}


/***FOOTER****/

/*footer {
	background-color: #e4e4e4;
	color: #919191;
	font-size: 12px;
	font-family: Arial, sans-serif;
}
footer .row {
	padding: 26px 0;
	justify-content: space-between;
}
footer .row .col-lg-6:last-child {
    text-align: right;
    padding: 0;
}
footer .row .col-lg-6:first-child {
    padding-left: 0;
}


